&lt;h2>What is what?&lt;/h2>
&lt;p>
    The browser is not only a way to explore and navigate around the web,
    but you can also &lt;strong>change&lt;/strong> the web as you like.
&lt;/p>
&lt;p>
    You can &lt;strong>build&lt;/strong> the web with only your browser at your fingertips.
&lt;/p>
&lt;p>And the best: It's &lt;strong>not&lt;/strong> rocket science, but super easy.&lt;/p>

&lt;h2>The stage is the world!&lt;/h2>
&lt;p>The principle of this course is show&tell - you can try things out right here.&lt;/p>
&lt;p>The middle of this page is an editor that displays the code for the website on the right.&lt;/p>
&lt;p>When you make changes in that editor, it gets automatically updated on the right for you to see your changes.&lt;/p>

&lt;h2>Change the world!&lt;/h2>
&lt;p>
    Try the editor and preview by changing something,
&lt;/p>
&lt;p>
    for example replace the word "web" with the word "world" 
    and see the preview change.
&lt;/p>

&lt;h2>Next up: The trinity of the web&lt;/h2>
&lt;p>Every website is usually made up of three things.&lt;/p>
&lt;p>In the next chapter, you will learn about &lt;a href="#/tech-trinity-html">the technology trinity&lt;/a> of the web.&lt;/p>