<h2>What is what?</h2>
<p>
    The browser is not only a way to explore and navigate around the web,
    but you can also <strong>change</strong> the web as you like.
</p>
<p>
    You can <strong>build</strong> the web with only your browser at your fingertips.
</p>
<p>And the best: It's <strong>not</strong> rocket science, but super easy.</p>

<h2>The stage is the world!</h2>
<p>The principle of this course is show&tell - you can try things out right here.</p>
<p>The middle of this page is an editor that displays the code for the website on the right.</p>
<p>When you make changes in that editor, it gets automatically updated on the right for you to see your changes.</p>

<h2>Change the world!</h2>
<p>
    Try the editor and preview by changing something,
</p>
<p>
    for example replace the word "web" with the word "world" 
    and see the preview change.
</p>

<h2>Next up: The trinity of the web</h2>
<p>Every website is usually made up of three things.</p>
<p>In the next chapter, you will learn about <a href="#/tech-trinity-html">the technology trinity</a> of the web.</p>