<h2>Rocket science 101</h2>
Every website is made of three things
<ol>
    <li><strong>HTML</strong> defines the content and its structure</li>
    <li><strong>CSS</strong> defines how things look</li>
    <li><strong>Javascript</strong> gives it interactivity, it defines behaviour.</li>
</ol>
<p>In your spaceship's cockpit, HTML would define the buttons you have available, the text for the labels and so on.</p>
<p>The design of those buttons - their colors, the font size, if they're transparent or hidden - would be defined by CSS.</p>
<p>Finally the behaviour, what the buttons do when you press them, is defined by Javascript.</p>

<p>
    That's enough of rocket science for now. Wasn't that bad, huh?
    <a href="#/our-ship">Next up: Let's take a look at our spaceship</a>.
</p>