<h2>The orbit: HTML</h2>
<p>The first stop on our journey through the web is the base for every further explorations:</p>
<p>The <strong>H</strong>yper<strong>t</strong>ext <strong>m</strong>arkup <strong>l</strong>anguage - or much shorter: HTML.</p>
<p>HTML defines the content and its meaning for the browser to make sense of all that. It defines what you see.</p>
<p>Examples for HTML elements are the headlines, the list on the last page, these paragraphs, links, images, buttons and so on..</p>
<p>
    It also contains non-visible parts of the structure like the body,
    the head (that, in the editor to the right of this) contains <pre class="inline">&lt;script&gt;</pre> and <pre class="inline">&lt;style&gt;</pre> areas
    to take Javascript and CSS later on)
</p>
<p>Every element is wrapped in so-called <strong>tags</strong>, which are easy to spot, thanks to the angle brackets (&lt; and &gt).</p>
<p>
    Tags surround their content and the ending (or <em>closing</em>) tag
    has a slash in front of its name (e.g. <span class="inline">&lt;/h1&gt;</span>)
</p>
<p>Content can be text or other tags, so <em>nesting</em> can be done.</p>
<p>As an example: You can have a headline that contains an image, or you may have a paragraph that contains a form that contains a button..</p>
<p>
    Some elements do not have content, for example a linebreak (<span class="inline">&lt;br /&gt;</span>)
    and the slash of the closing tag is added right before the closing angle bracket of the tag.
</p>
<p>
    Elements can also have <em>attributes</em> to describe their properties. For example links have somewhere to point to
    (i.e. the website they take you to, when you click them). <br />
    This is called the <em>href</em> (short for "hyper reference", can be any other document with an address, like another website or another HTML page of your website or an image, etc.).
    To define a link, you would write:
</p>
<p><pre><code>
&lt;a href="another_document.html"&gt;Go to another document&lt;a&gt;
</code></pre></p>
<p>Another example of an attribute is the <em>src</em> attribute for images which defines the image to display like this:</p>
<pre><code>&lt;img src="some_picture.jpg" /&gt;</code></pre>

<h2>What else is there?</h2>
<p>HTML knows many different tags and attributes and to give a full explanation here would take too much time and space.</p>
<p>
    There are plenty of reference guides on the different available tags,
    <a href="http://dochub.io/#html/">see the HTML5 for developers reference as an example</a>.
</p>

<h2>Let's play with it!</h2>
<p>With the help of a HTML5 reference, you should now be able to play around with the content.</p>
<p>Try adding a second-level headline, a button, a link or an image.</p>

<div class="expandbox">
    <p>If you need some more inspiration, click the button below to see an example</p>
    <button onclick="document.getElementById('example').className='expanded';">Show example</button>
    <button onclick="editor.setValue(document.querySelector('#example textarea').value);">Copy to editor</button>
    <code id="example" class="expandable">
    <pre>&lt;!doctype html&gt;
&lt;html&gt;
  &lt;body&gt;
  &lt;h1&gt;Hello World!&lt;/h1&gt;
  &lt;h2&gt;Hello visitors!&lt;/h2&gt;
  
  &lt;img src="http://placekitten.com/200/300" 
       width="200" height="300" 
       alt="Some image showing a cat" /&gt;

  &lt;p&gt;Some paragraph.&lt;/p&gt;
  &lt;p&gt;And &lt;a href="http://www.google.com"&gt;a link to Google&lt;/a&gt;
  
  &lt;p&gt;
    &lt;input id="something" /&gt;
    &lt;button&gt;Click me!&lt;/button&gt;
  &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
    <textarea style="display: none">
<!doctype html>
<html>
  <body>
  <h1>Hello World!</h1>
  <h2>Hello visitors!</h2>
  
  <img src="http://placekitten.com/200/300" 
       width="200" height="300" 
       alt="Some image showing a cat" />

  <p>Some paragraph.</p>
  <p>And <a href="http://www.google.com">a link to Google</a>
  
  <p>
    <input id="something" />
    <button>Click me!</button>
  </p>
  </body>
</html></textarea>
    </code>
</div>

<p>Now that we've boarded our spaceship, we can take some time to look at <a href="#/the-cockpit">our cockpit and make it look as we want</a>.</p>